<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by @UnbarredStream on 19/06/22 13:39
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 19/06/22 13:36
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hydra" >
        <!--<activity android:name=".test.MainTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
    </application>

</manifest>