<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by @UnbarredStream on 19/06/22 13:39
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 19/06/22 13:36
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="knf.hydra.LINK_READ" />
        </intent>
    </queries>

    <uses-feature android:name="hydra.module" android:required="false"/>
    <application>
        <activity android:name="knf.hydra.core.VisibilityActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="knf.hydra.MODULE"/>
            </intent-filter>
        </activity>
    </application>
</manifest>