<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by @UnbarredStream on 19/06/22 13:39
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 19/06/22 13:36
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

    </application>

</manifest>